@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
header {
  margin: 1rem 1rem 0 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logo . features team sign-in";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40rem) {
  header {
    margin: 3rem 3rem 0 3rem;
    -ms-grid-columns: 60% (1fr)[3];
        grid-template-columns: 60% repeat(3, 1fr);
        grid-template-areas: "logo features team sign-in";
  }
}

@media screen and (min-width: 64rem) {
  header {
    margin: 3rem 3rem 0 3rem;
    -ms-grid-columns: 70% (1fr)[3];
        grid-template-columns: 70% repeat(3, 1fr);
        grid-template-areas: "logo features team sign-in";
  }
}

@media screen and (min-width: 90rem) {
  header {
    margin: 4rem 4rem 0 4rem;
    -ms-grid-columns: 80% (1fr)[3];
        grid-template-columns: 80% repeat(3, 1fr);
        grid-template-areas: "logo features team sign-in";
  }
}

header div.image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 85px;
}

@media screen and (min-width: 40rem) {
  header div.image {
    width: 100px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (min-width: 64rem) {
  header div.image {
    width: 120px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (min-width: 90rem) {
  header div.image {
    width: 150px;
  }
}

header div.image img {
  width: 100%;
}

header p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #585989;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

@media screen and (min-width: 64rem) {
  header p {
    font-size: 1rem;
  }
}

header p:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

header p:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

header .headerFeatures {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: features;
}

header .headerTeam {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: team;
}

header .headerSignin {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: sign-in;
}

section.top {
  margin: 7rem 1rem 0 1rem;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  section.top {
    margin: 5rem 3rem 0 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1.5fr 5fr;
        grid-template-columns: 2fr 1.5fr 5fr;
    -ms-grid-rows: 1fr auto auto auto 1fr;
        grid-template-rows: 1fr auto auto auto 1fr;
        grid-template-areas: ". . image" "h1 h1 image" "p p image" "input btn image" ". . image";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    text-align: left;
  }
}

section.top .image {
  grid-area: image;
  width: 80%;
  margin: 0 auto;
}

section.top .image img {
  width: 100%;
}

section.top h1 {
  grid-area: h1;
  padding-top: 2rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 40rem) {
  section.top h1 {
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 64rem) {
  section.top h1 {
    width: unset;
    margin: unset;
    font-size: 1.6rem;
  }
}

section.top p {
  grid-area: p;
  padding: 1.8rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 40rem) {
  section.top p {
    width: 70%;
    margin: 0 auto;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 64rem) {
  section.top p {
    width: unset;
    padding: unset;
    font-size: 1.1rem;
  }
}

section.top .inputWrapper {
  grid-area: input;
  position: relative;
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

section.top .inputWrapper input {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  border-radius: 4px;
  border: 1px solid black;
}

@media screen and (min-width: 40rem) {
  section.top .inputWrapper {
    width: 70%;
  }
}

@media screen and (min-width: 64rem) {
  section.top .inputWrapper {
    width: 100%;
    margin: unset;
  }
}

section.top .inputWrapper .error {
  position: absolute;
  top: 40px;
  padding-left: 1rem;
  color: red;
  font-size: 0.8rem;
  text-align: left;
}

section.top button {
  grid-area: btn;
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #3065f8;
  color: white;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

section.top button:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

section.top button:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 40rem) {
  section.top button {
    width: 70%;
  }
}

@media screen and (min-width: 64rem) {
  section.top button {
    width: 100%;
    margin: unset;
  }
}

section.middle {
  margin-top: 2rem;
  padding-bottom: 7rem;
  background-color: #f6f6fe;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  section.middle {
    margin-top: 4rem;
    position: relative;
    padding: 7rem 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1r 1fr 2fr;
        grid-template-columns: 1r 1fr 2fr;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header header image" "paragraph1 paragraph1 image" "paragraph2 paragraph2 image" "link . image" "article . image";
    justify-items: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
}

section.middle .bgCurve {
  background-color: white;
  height: 4rem;
  width: 100%;
}

@media screen and (min-width: 64rem) {
  section.middle .bgCurve {
    position: absolute;
    height: 6rem;
    top: 0;
  }
}

section.middle .bgCurve svg {
  width: 100%;
}

section.middle .image {
  grid-area: image;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

@media screen and (min-width: 64rem) {
  section.middle .image {
    width: 100%;
  }
}

section.middle .image img {
  width: 100%;
}

section.middle h2 {
  grid-area: header;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

@media screen and (min-width: 64rem) {
  section.middle h2 {
    margin: unset;
    font-size: 2rem;
  }
}

section.middle p {
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 0 1rem;
  font-size: 0.8rem;
  text-align: left;
  color: #585989;
}

@media screen and (min-width: 64rem) {
  section.middle p {
    margin: unset;
    padding: unset;
    font-size: 1.1rem;
  }
}

section.middle .paragraph1 {
  grid-area: paragraph1;
}

section.middle .paragraph2 {
  grid-area: paragraph2;
}

section.middle .link {
  grid-area: link;
  width: 160px;
  margin: 0 auto;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #3c9f8f;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

section.middle .link:hover {
  cursor: pointer;
  background-color: #5df3db;
}

section.middle .link:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 64rem) {
  section.middle .link {
    margin: unset;
    width: auto;
  }
}

section.middle .link a {
  color: #3c9f8f;
  text-decoration: none;
  font-size: 0.8rem;
}

@media screen and (min-width: 64rem) {
  section.middle .link a {
    font-size: 0.9rem;
  }
}

section.middle .link a .linkSvg {
  height: 23px;
  width: 23px;
  display: inline-block;
  position: relative;
  top: 0.5rem;
  margin-left: 0.5rem;
  background-color: white;
  border-radius: 50%;
}

section.middle .link a .linkSvg svg {
  width: 100%;
}

section.middle article {
  grid-area: article;
  position: relative;
  width: 70%;
  margin: 3rem auto 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 0 darkgray;
          box-shadow: 0 0 20px 0 darkgray;
}

@media screen and (min-width: 64rem) {
  section.middle article {
    margin: unset;
    margin-top: 1rem;
    width: 60%;
    padding: 2rem;
  }
}

section.middle article .quoteSvg {
  position: absolute;
  top: 22px;
  left: 32px;
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 64rem) {
  section.middle article .quoteSvg {
    margin: unset;
    top: 15px;
    left: 30px;
  }
}

section.middle article p {
  width: initial;
  margin: 1rem auto 1.5rem auto;
  color: black;
  line-height: 1.5rem;
}

@media screen and (min-width: 64rem) {
  section.middle article p {
    margin: unset;
    font-size: 0.8rem;
  }
}

section.middle article .avatar {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  -ms-grid-rows: 18px 18px;
      grid-template-rows: 18px 18px;
      grid-template-areas: "avatar name" "avatar status";
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 64rem) {
  section.middle article .avatar {
    -ms-grid-columns: 52px 1fr;
        grid-template-columns: 52px 1fr;
  }
}

section.middle article .avatar .image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: avatar;
  height: 36px;
  width: 36px;
  padding: 0;
}

@media screen and (min-width: 64rem) {
  section.middle article .avatar .image {
    margin: unset;
    width: 100%;
    padding-right: 1rem;
  }
}

section.middle article .avatar .image img {
  width: 100%;
  border-radius: 50%;
}

section.middle article .avatar h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 0.8rem;
}

@media screen and (min-width: 64rem) {
  section.middle article .avatar h3 {
    margin: unset;
  }
}

section.middle article .avatar p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: status;
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  color: black;
}

@media screen and (min-width: 64rem) {
  section.middle article .avatar p {
    margin: unset;
    width: 50%;
  }
}

section.bottom {
  padding: 3rem;
  background-color: #585989;
  text-align: center;
  color: white;
}

@media screen and (min-width: 64rem) {
  section.bottom {
    padding: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "header input" "paragraph button";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-column-gap: 14rem;
            column-gap: 14rem;
  }
}

@media screen and (min-width: 90rem) {
  section.bottom {
    padding: 6rem;
    -webkit-column-gap: 18rem;
            column-gap: 18rem;
  }
}

section.bottom h2 {
  grid-area: header;
  font-size: 1rem;
}

@media screen and (min-width: 64rem) {
  section.bottom h2 {
    font-size: 2rem;
  }
}

section.bottom p {
  grid-area: paragraph;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 40rem) {
  section.bottom p {
    width: 70%;
    margin: 1rem auto;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 64rem) {
  section.bottom p {
    width: 100%;
    margin: unset;
  }
}

section.bottom .inputWrapper {
  grid-area: input;
  position: relative;
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

section.bottom .inputWrapper input {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  border-radius: 4px;
  border: 1px solid black;
}

@media screen and (min-width: 40rem) {
  section.bottom .inputWrapper {
    width: 70%;
  }
}

@media screen and (min-width: 64rem) {
  section.bottom .inputWrapper {
    width: 100%;
    margin: unset;
  }
}

@media screen and (min-width: 64rem) {
  section.bottom .inputWrapper {
    font-size: 0.8rem;
  }
}

section.bottom .inputWrapper .error {
  position: absolute;
  top: 40px;
  padding-left: 1rem;
  color: red;
  font-size: 0.8rem;
  text-align: left;
}

section.bottom button {
  grid-area: button;
  font-size: 0.7rem;
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #3065f8;
  color: white;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

section.bottom button:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

section.bottom button:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 40rem) {
  section.bottom button {
    width: 70%;
  }
}

@media screen and (min-width: 64rem) {
  section.bottom button {
    width: 100%;
    margin: unset;
  }
}

@media screen and (min-width: 64rem) {
  section.bottom button {
    width: 40%;
    font-size: 0.8rem;
  }
}

footer {
  padding: 3rem 2rem 2rem 2rem;
  background-color: #070439;
  color: white;
}

@media screen and (min-width: 40rem) {
  footer {
    padding: 4rem;
  }
}

@media screen and (min-width: 64rem) {
  footer {
    padding: 7rem;
  }
}

footer .logoSvg {
  margin-bottom: 2rem;
}

@media screen and (min-width: 64rem) {
  footer .contactInfo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (1fr)[3];
        grid-template-columns: 1fr repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "phone phone nav1 nav2 socialMedia" "mail mail nav1 nav2 socialMedia" ". . nav1 nav2 .";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
}

@media screen and (min-width: 90rem) {
  footer .contactInfo {
    -webkit-column-gap: 9rem;
            column-gap: 9rem;
  }
}

footer .contactInfo .contactItem {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 64rem) {
  footer .contactInfo .contactItem {
    margin: unset;
    font-size: 1rem;
  }
}

footer .contactInfo .contactItem img {
  width: 18px;
}

footer .contactInfo .phone {
  grid-area: phone;
}

footer .contactInfo .mail {
  grid-area: mail;
}

footer .contactInfo nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 64rem) {
  footer .contactInfo nav {
    margin: unset;
    font-size: 1rem;
  }
}

footer .contactInfo nav ul {
  list-style: none;
  line-height: 2rem;
}

@media screen and (min-width: 64rem) {
  footer .contactInfo nav ul {
    line-height: unset;
  }
}

footer .contactInfo nav ul li {
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

footer .contactInfo nav ul li:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

footer .contactInfo nav ul li:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 64rem) {
  footer .contactInfo nav ul li {
    margin-bottom: 0.5rem;
  }
}

footer .contactInfo .nav1 {
  grid-area: nav1;
}

footer .contactInfo .nav2 {
  grid-area: nav2;
}

footer .contactInfo .socialMedia {
  grid-area: socialMedia;
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 64rem) {
  footer .contactInfo .socialMedia {
    margin: unset;
  }
}

footer .contactInfo .socialMedia .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

footer .contactInfo .socialMedia .svg:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

footer .contactInfo .socialMedia .svg:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

footer .contactInfo .socialMedia .svg svg {
  width: 50%;
  height: 50%;
}

footer .contactInfo .socialMedia .svg svg path {
  fill: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
button,
header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.error {
  display: none;
}

.redBorder {
  outline: 2px solid red;
  border-radius: 4px;
}

.greenBorder {
  outline: 2px solid green;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */