header {
  margin: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo . features team sign-in";
  justify-items: center;
  align-items: center;

  @include breakpoint(small){
    margin: 3rem 3rem 0 3rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "logo . . . features team sign-in";
  }

  @include breakpoint(medium){
    margin: 3rem 3rem 0 3rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "logo . . . . features team sign-in";
  }

  @include breakpoint(medium){

  }

  div.image {
    grid-area: logo;
    width: 85px;

    @include breakpoint(medium){
      width: 120px;
    }

    img {
      width: 100%;
    }
  }

  p {
    font-size: 0.8rem;
    font-weight: 400;
    color: $desaturatedBlue;

    @include breakpoint(medium){
      font-size: 1rem;
    }
  }

  .headerFeatures {
    grid-area: features;
  }

  .headerTeam {
    grid-area: team;
  }

  .headerSignin {
    grid-area: sign-in;
  }
}
