header {
  margin: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo . features team sign-in";
  justify-items: center;
  align-items: center;

  @include breakpoint(small) {
    margin: 3rem 3rem 0 3rem;
    grid-template-columns: 60% repeat(3, 1fr);
    grid-template-areas: "logo features team sign-in";
  }

  @include breakpoint(medium) {
    margin: 3rem 3rem 0 3rem;
    grid-template-columns: 70% repeat(3, 1fr);
    grid-template-areas: "logo features team sign-in";
  }

  @include breakpoint(large) {
    margin: 4rem 4rem 0 4rem;
    grid-template-columns: 80% repeat(3, 1fr);
    grid-template-areas: "logo features team sign-in";
  }

  div.image {
    grid-area: logo;
    width: 85px;

    @include breakpoint(small) {
      width: 100px;
      justify-self: start;
    }

    @include breakpoint(medium) {
      width: 120px;
      justify-self: start;
    }

    @include breakpoint(large) {
      width: 150px;
    }

    img {
      width: 100%;
    }
  }

  p {
    font-size: 0.8rem;
    font-weight: 400;
    color: $desaturatedBlue;

    @include breakpoint(medium) {
      font-size: 1rem;
    }

    @include hoverEffect(normal);
  }

  .headerFeatures {
    grid-area: features;
  }

  .headerTeam {
    grid-area: team;
  }

  .headerSignin {
    grid-area: sign-in;
  }
}
