section.middle {
  margin-top: 2rem;
  padding-bottom: 7rem;
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint(medium) {
    margin-top: 4rem;
    position: relative;
    padding: 7rem 3rem;
    display: grid;
    grid-template-columns: 1r 1fr 2fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "header header image"
      "paragraph1 paragraph1 image"
      "paragraph2 paragraph2 image"
      "link . image"
      "article . image";
    justify-items: left;
    align-items: center;
    gap: 1rem;
  }

  .bgCurve {
    background-color: white;
    height: 4rem;
    width: 100%;

    @include breakpoint(medium) {
      position: absolute;
      height: 6rem;
      top: 0;
    }

    svg {
      width: 100%;
    }
  }
  .image {
    grid-area: image;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;

    @include breakpoint(medium) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  h2 {
    grid-area: header;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;

    @include breakpoint(medium) {
      margin: unset;
      font-size: 2rem;
    }
  }

  p {
    width: 80%;
    margin: 1rem auto 0 auto;
    padding: 0 1rem;
    font-size: 0.8rem;
    text-align: left;
    color: $desaturatedBlue;

    @include breakpoint(medium) {
      margin: unset;
      padding: unset;
      font-size: 1.1rem;
    }
  }

  .paragraph1 {
    grid-area: paragraph1;
  }
  .paragraph2 {
    grid-area: paragraph2;
  }

  .link {
    grid-area: link;
    width: 160px;
    margin: 0 auto;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $moderateCyan;
    @include hoverEffect(link);

    @include breakpoint(medium) {
      margin: unset;
      width: auto;
    }

    a {
      color: $moderateCyan;
      text-decoration: none;
      font-size: 0.8rem;

      @include breakpoint(medium) {
        font-size: 0.9rem;
      }

      .linkSvg {
        height: 23px;
        width: 23px;
        display: inline-block;
        position: relative;
        top: 0.5rem;
        margin-left: 0.5rem;
        background-color: white;
        border-radius: 50%;

        svg {
          width: 100%;
        }
      }
    }
  }

  article {
    grid-area: article;
    position: relative;
    width: 70%;
    margin: 3rem auto 0 auto;
    padding: 2rem 1rem 1rem 1rem;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 darkgray;

    @include breakpoint(medium) {
      margin: unset;
      margin-top: 1rem;
      width: 60%;
      padding: 2rem;
    }

    .quoteSvg {
      position: absolute;
      top: 22px;
      left: 32px;
      width: 18px;
      height: 18px;

      @include breakpoint(medium) {
        margin: unset;
        top: 15px;
        left: 30px;
      }
    }

    p {
      width: initial;
      margin: 1rem auto 1.5rem auto;
      color: black;
      line-height: 1.5rem;

      @include breakpoint(medium) {
        margin: unset;
        font-size: 0.8rem;
      }
    }

    .avatar {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-template-rows: 18px 18px;
      grid-template-areas: "avatar name" "avatar status";
      justify-items: left;
      align-items: center;

      @include breakpoint(medium) {
        grid-template-columns: 52px 1fr;
      }

      .image {
        grid-area: avatar;
        height: 36px;
        width: 36px;
        padding: 0;

        @include breakpoint(medium) {
          margin: unset;
          width: 100%;
          padding-right: 1rem;
        }
        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      h3 {
        grid-area: name;
        font-size: 0.8rem;

        @include breakpoint(medium) {
          margin: unset;
        }
      }
      p {
        grid-area: status;
        margin: 0;
        padding: 0;
        font-size: 0.5rem;
        color: black;

        @include breakpoint(medium) {
          margin: unset;
          width: 50%;
        }
      }
    }
  }
}
